[submodule "ThirdParty/echfs"]
	path = ThirdParty/echfs
	url = https://github.com/echfs/echfs/
[submodule "ThirdParty/limine"]
	path = ThirdParty/limine
	url = https://github.com/limine-bootloader/limine
