[submodule "Source/ThirdParty/limine"]
	path = Source/ThirdParty/limine
	url = https://github.com/limine-bootloader/limine
[submodule "Source/ThirdParty/stivale"]
	path = Source/ThirdParty/stivale
	url = https://github.com/stivale/stivale
